<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SelfHostedWebServiceSample1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SelfHostedWebService1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="DesktopWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SelfHostedWebServiceSample1.Properties.Settings>
      <setting name="LocalhostOnly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LocalHostErrorMessage" serializeAs="String">
        <value>Only localhost access from the desktop is allowed.</value>
      </setting>
      <setting name="ServerURLAndPort" serializeAs="String">
        <value>http://localhost:9999</value>
      </setting>
      <setting name="AppTitle" serializeAs="String">
        <value>Self Hosted Web Service</value>
      </setting>
      <setting name="AutoStartServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoMinimize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowWebPages" serializeAs="String">
        <value>True</value>
      </setting>
    </SelfHostedWebServiceSample1.Properties.Settings>
  </applicationSettings>
</configuration>
